<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" thread-count="2" parallel="tests">
	<test name="WIN8TEST">
		<parameter name="browser" value="firefox" />
		<parameter name="version" value="82.0" />
		<parameter name="platform" value="WIN7" />
		<classes>
			<class name="TestCases.LambdaTestP1">
				<methods>
					<include name="TestScenario1" />
				</methods>
			</class>
		</classes>
	</test>

	<test name="WIN10TEST">
		<parameter name="browser" value="edge" />
		<parameter name="version" value="87.0" />
		<parameter name="platform" value="macOS Sierra" />
		<classes>
			<class name="TestCases.LambdaTestP1">
				<methods>
					<include name="TestScenario2" />
				</methods>
			</class>
		</classes>
	</test>
	<test name="MACTEST">
		<parameter name="browser" value="Chrome" />
		<parameter name="version" value="88.0" />
		<parameter name="platform" value="Windows 10" />
		<classes>
			<class name="TestCases.LambdaTestP1">
				<methods>
					<include name="TestScenario3" />
				</methods>
			</class>
		</classes>
	</test>

</suite>
